@charset "UTF-8";

.company {
    position: relative;
    margin: 30px 0;

    &__name {
        font-size: 42px;
        font-weight: 500;
        line-height: 1;
        color: #0081bc;
        margin-bottom: 5px;
    }

    &__link {
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        color: #40beb0;
        text-decoration: none;
        margin-bottom: 10px;

        &:hover {
            color: #0081bc;
            text-decoration: underline;
        }

        margin-bottom: 10px;
    }

    &__area {
        color: #0081bc;
        font-size: 20px;
        line-height: 1;
        display: flex;
        align-items: center;
        img {
            width: 40px;
            margin-right: 10px;
        }
    }

    &__logo {
        position: absolute;
        right: 0;
        top: 0;
        height: 60px;
        img{
            height: 100%;
            width: auto;
        }
    }

    &__content {
        padding-left: 40px;
        color: #3c3c3c;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        text-align: justify;
        margin-bottom: 30px;
    }

    &__title {
        &-intro {
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            line-height: 34px;
            margin-bottom: 30px;
            padding-left: 40px;
            background: url(../img/bullet_focus_intro.svg) no-repeat 5px center / 25px 25px, linear-gradient(to right, #21bcae 0%, #18609b 100%);
            border-radius: 20px 0 0 20px;
            background-size: auto;
            margin-left: -40px;
        }

        &-product {
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            line-height: 34px;
            margin-bottom: 30px;
            padding-left: 40px;
            background: url(../img/bullet_focus_porduct.svg) no-repeat 5px center / 25px 25px, linear-gradient(to right, #21bcae 0%, #18609b 100%);
            border-radius: 20px 0 0 20px;
            background-size: auto;
            margin-left: -40px;
        }
    }

    &__item {
        margin-bottom: 50px;

        &-name {
            font-size: 20px;
            font-weight: 500;
            line-height: 1;
            color: #00628e;
            margin-bottom: 10px;
        }

        &-box {
            display: flex;
        }

        &-info {
            padding-left: 60px;

            ol {
                padding-left: 24px;
                color: #0081bc;
            }
        }

        &-title {
            color: #0081bc;
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 10px;
            padding-left: 40px;
            background: url(../img/bullet_feature.png) no-repeat 0 center;
            background-size: auto;
            margin-left: -40px;
        }

    }

    &__other {
        margin: 60px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        &-link {
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            flex: 0 1 49%;
            margin-bottom: 15px;
            border: 2px solid #0081bc;
            border-radius: 20px 3px 3px 20px;
            padding: 8px 8px 7px 45px;
            color: #0081bc;
            background: #FFF url(../img/bullet_list_02.svg) no-repeat 5px center;
            background-size: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                color: #FFF;
                background: #0081bc url(../img/bullet_list_01.svg) no-repeat 5px center;
                background-size: auto;
                text-decoration: none;
             }
             &.active {
                color: #FFF;
                background: #40beb0 url(../img/bullet_list_01.svg) no-repeat 5px center;
                background-size: auto;
                text-decoration: none;
                pointer-events: none;
             }
        }
    }
}