@charset "UTF-8";

.company {
    position: relative;
    margin: 30px 0;

    &__name {
        font-size: 44px;
        font-weight: 500;
        line-height: 1;
        color: #00628e;
        margin-bottom: 10px;
    }

    &__link {
        display: inline-block;
        font-size: 30px;
        font-weight: 500;
        line-height: 1;
        color: #0081bc;
        text-decoration: none;

        &:hover {
            color: #0081bc;
            text-decoration: underline;
        }

        margin-bottom: 10px;
    }

    &__area {
        color: #3c3c3c;
        padding-left: 42px;
        font-size: 24px;
        line-height: 1;
        background: url(../img/icon_area_ts.png) no-repeat 0 center;
        background-size: auto;

        span{
            font-size: 27px;
            line-height: 1;
            font-weight: 600;
            margin-right: 12px;
        }
    }

    &__logo {
        position: absolute;
        right: 0;
        top: 0;
        height: 84px;
        img{
            height: 100%;
            width: auto;
        }
    }

    &__content {
        padding-left: 40px;
        color: #3c3c3c;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        text-align: justify;
        margin-bottom: 30px;
    }

    &__title {
        &-intro {
            color: #0081bc;
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 10px;
            padding-left: 40px;
            background: url(../img/bullet_intro.png) no-repeat 0 center;
            background-size: auto;
            margin-left: -40px;
        }

        &-product {
            color: #0081bc;
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 10px;
            padding-left: 40px;
            background: url(../img/bullet_pd.png) no-repeat 0 center;
            background-size: auto;
            margin-left: -40px;
        }
    }

    &__item {
        margin-bottom: 50px;

        &-name {
            font-size: 24px;
            font-weight: 500;
            line-height: 1;
            color: #00628e;
            margin-bottom: 10px;
        }

        &-box {
            display: flex;
        }

        &-info {
            padding-left: 60px;

            ol {
                padding-left: 24px;
                color: #0081bc;
            }
        }

        &-title {
            color: #0081bc;
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 10px;
            padding-left: 40px;
            background: url(../img/bullet_feature.png) no-repeat 0 center;
            background-size: auto;
            margin-left: -40px;
        }

    }

    &__other {
        margin: 60px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        &-link {
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            flex: 0 1 49%;
            margin-bottom: 15px;
            border: 2px solid #0081bc;
            border-radius: 3px;
            padding: 8px 8px 7px 36px;
            color: #0081bc;
            background: #FFF url(../img/icon_exhibitor.png) no-repeat 5px center;
            background-size: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.active{
                text-decoration: none;
                color: #FFF;
                background: #0081bc url(../img/icon_exhibitor-ov.png) no-repeat 5px center;
                background-size: auto;
                pointer-events:none;
            }
            &:hover {
                text-decoration: none;
                color: #FFF;
                background: #0081bc url(../img/icon_exhibitor-ov.png) no-repeat 5px center;
                background-size: auto;
            }
        }
    }
}