@charset "UTF-8";

.content {
   &__theme {
      font-size: 25px;
      font-weight: 500;
      line-height: 1;
      color: #005699;
      margin: 30px 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;


      &-img {
         width: 60px;
         margin-right: 10px;
      }
   }

   &__title {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.2;
      color: #0081bc;    
      margin-bottom: 10px;  
   }


   &__subtitle {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
      color: #0081bc;
      margin-bottom: 20px;
      &-info {
         color: #0081bc;
         clear: auto;
         font-size: 20px;
         font-weight: 500;
         padding-left: 40px;
         margin: 15px 0;
         background: url(../img/bullet_info_indi.svg) no-repeat 0 0;
         background-size: 30px;
      }
      &-area {
         color: #0081bc;
         clear: auto;
         font-size: 18px;
         font-weight: 500;         
         margin: 30px 0 10px 0;   
         display: flex;
         align-items: center;
         img{
            width: 30px;
            margin-right: 10px;
         }      
      }
   }

   &__source {
      display: inline-block;
      font-size: 16px;
      line-height: 1;
      margin: 15px 0;
      color: #40beb0;
   }

   &__text {
      clear: both;
      color: #3c3c3c;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      text-align: justify;
      margin-bottom: 30px;

      a {
         color: #0081bc;
      }

      ul,ol{
         margin-bottom: 30px;
         margin-left: 60px;
         padding: 0;
      }
   }

   &__slogan {
      clear: both;
      font-size: 30px;
      font-weight: 500;
      line-height: 1.2;
      color: #00628e;
      padding: 50px 0;
   }

   &__other{
      margin: 60px 0;
   }

   &__link {
      &-news {
         display: block;
         width: 100%;
         margin: 15px 0;
         font-size: 18px;
         padding: 3px 3px 3px 45px;
         border: 2px solid #0081bc;
         border-radius: 20px 3px 3px 20px;
         color: #0081bc;
         background: #FFF url(../img/bullet_list_02.svg) no-repeat 5px center;
         background-size: auto;

         &:hover {
            color: #FFF;
            background: url(../img/bullet_list_01.svg) no-repeat 5px center, linear-gradient(to right, #21bcae 0%, #18609b 100%);
            background-size: auto;
            text-decoration: none;
         }
         &.active {
            color: #FFF;
            background: url(../img/bullet_list_01.svg) no-repeat 5px center, linear-gradient(to right, #21bcae 0%, #18609b 100%);
            background-size: auto;
            text-decoration: none;
            pointer-events: none;
         }
      }
   }

   &__btn {
      &-register {
         z-index: 1;
         position: relative;
         display: inline-block;
         font-size: 24px;
         line-height: 1;
         color: #fff;
         padding: 8px 18px 10px 50px;
         margin: 15px 0;
         border-radius: 50px;
         background: #40beb0;
         background-size: auto;
         border: 2px solid #40beb0;
         overflow: hidden;
         transition: color 0.4s ease-in-out;        

         &:hover {
            color: #40beb0;
            // background: #fff url(../img/icon_check-ov.png) no-repeat 20px center;
            text-decoration: none;

            &::after{
               content: '';
               background: url(../img/icon_check_02.svg) no-repeat center center;
               background-size: contain;
               width: 24px;
               height: 24px;
               position: absolute;
               left: 15px;
               top: 10px;
            }
         }

         &::after{
            content: '';
            background: url(../img/icon_check_01.svg) no-repeat center center;
            background-size: contain;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 15px;
            top: 10px;
         }

         &::before {
            content: "";
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            color: #0081bc;
            background-color: #FFF;
            transform-origin: center;
            transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
            transition: transform 0.45s ease-in-out;
         }


         &:hover::before {
            transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
         }

      }
   }


}