@charset "UTF-8";

.focus {
    background: #f2f2f2;
    padding: 50px 0;
    &__title {
        &-img {
            height: 50px;
            margin-right: 5px;
            margin-left: 30px;
        }
        margin-bottom: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 32px;
        font-weight: bold;
        line-height: 1;
        color: #005699;
        span {
            display: block;
            padding: 9px 13px;
        }
    }
    &__subtitle {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        color: #0081bc;
        margin-bottom: 20px;
    }

    &__link{
        flex: 1 0 33.33%;
    }

    &__text {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        text-align: justify;
        color: #3b3b3b;
        @include ellipsis(100%, 3);
    }

    &__row {
        margin: 0 0 40px 0;
        display: flex;
        justify-content: space-between;
    }

    &__col {
        flex: 0 1 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
        &-box{
            margin: 0 -4.5%;
            display: flex;
            justify-content: space-around;
        }

        .focus {
            &__link {
                margin-bottom: 15px;
            }

            &__name {
                font-size: 18px;
                text-align: center;
                flex: 1 1 10%;
            }

            &__no {
                font-size: 24px;
                text-align: center;
            }
        }
    }

    &__name {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        color: #077bb6;
        margin-bottom: 10px;
    }

    &__no {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        color: #077bb6;
        margin-bottom: 15px;
    }
}