@charset "UTF-8";

.news {
    background: #fff;
    padding: 50px 0;
    &__title {
        &-img {
            height: 50px;
            margin-right: 5px;
            margin-left: 30px;
        }
        margin-bottom: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 32px;
        font-weight: bold;
        line-height: 1;
        color: #005699;
        span {
            display: block;
            padding: 9px 13px;
        }
    }
    &__subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        color: #fff;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        text-align: justify;
        color: #fff;
        @include ellipsis(100%, 6);
    }

    &__item {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 25px 25px 80px 25px;
        border-radius: 10px;
        background: linear-gradient(
            to bottom,
            #21bcae 0%,
            #18609b 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .btn__more-w {
        position: absolute;
        right: 40px;
        bottom: 20px;
    }
}
