@charset "UTF-8";

.news {
    background: #fff;
    padding: 50px 0;

    &__title {
        &-img {
            height: 50px;
            margin-right: 5px;
            margin-left: 30px;
        }

        margin-bottom: 40px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
        color: #005699;

        span {
            display: block;
            padding: 9px 13px;
        }
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        color: #fff;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 17px;
        font-weight: 300;
        line-height: 1.5;
        text-align: justify;
        color: #fff;
        @include ellipsis(100%, 6);
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px 40px;
        border-radius: 10px;
        background: linear-gradient(
            to bottom,
            #21bcae 0%,
            #18609b 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}
