@charset "UTF-8";

.footer {
    background: #FFF url(../img/bkgd_footer.png) no-repeat bottom center;
    background-size: 100% 100%;
    height: 263/1920*100vw;     
    margin-top: 50px;

    &__title {
        font-size: 16px;
        line-height: 1;
        margin-right: 0;
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: left;
        white-space: nowrap;

        img{
            padding-top: 15px;
            width: 75%;
        }
    }

    &__item {
        display: block;
        margin-right: 20px;
        margin-left: 0;
        color: #000;

        img {
            margin-right: 10px;
        }
    }

    .nav{
        &__tools{
            display: flex;
            justify-content: end;
            margin-top: 50px;
            a{
                margin-left: 25px;
            }
        }
    }
}