@charset "UTF-8";

.header {
    background: url(../img/bkgd_sub_header.png) no-repeat center center;
    background-size: cover;
    &__kv {
        background: url(../img/bkgd_kv.png) no-repeat center center;
        background-size: cover;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 30px;
    }

 

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__no{
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 20px;
    }
    &__en{
        color: #FFF;
        font-size: 18px;
        font-weight: 100;
        line-height: 1;
        margin-bottom: 50px;
        a{
            color: #fff;
        }
    }
    &__slogan{
        color: #FFF;
        width: calc( 105% + 7px );
        font-size: 63px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 2px;
        text-align: right;
        margin: 15px -5px 80px 0;
        white-space: nowrap;
        &-en{
            color: #f3ad0f;
            font-size: 36px;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 15px;
        }
    }
    &__date{
        color: #0993d2;
        font-size: 42px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 10px;
    }
    &__location{
        color: #0993d2;
        font-size: 48px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 20px;
    }
    
    .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FFF;
        font-weight: 400;
        line-height: 1;
      
        &-link {
            font-size: 20px;
            font-weight: 400;
            line-height: 1;
            color: #fff;
            text-decoration: none;
            padding: 0;

            &:hover {
                color: #fff;
                text-decoration: none;
            }
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -4px;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transform-origin: center;
                transform: translate(-50%, 0) scaleX(0);
                transition: transform 0.2s ease-in-out;
            }

            &:hover::before {
                transform: translate(-50%, 0) scaleX(1);
            }
        }

        &__tools {
        
            a {
                margin-right: 10px;
            }
        }
    }


}
